asttokens==2.4.1
nvidia-cuda-runtime-cu12==12.1.105
boltons==24.0.0
zipp==3.20.2
prompt_toolkit==3.0.48
wcwidth==0.2.13
ipython==8.29.0
attrs==24.2.0
nvidia-cuda-nvrtc-cu12==12.1.105
executing==2.1.0
requests==2.32.3
optree==0.13.0
traitlets==5.14.3
jedi==0.19.1
exceptiongroup==1.2.2
nvidia-cublas-cu12==12.1.3.1
hpack==4.0.0
types-dataclasses==0.6.6
menuinst==2.1.2
archspec==0.2.3
platformdirs==4.3.6
cffi==1.17.1
pickleshare==0.7.5
conda-package-handling==2.4.0
referencing==0.35.1
nvidia-cuda-cupti-cu12==12.1.105
python-etcd==0.4.5
filelock==3.16.1
six==1.16.0
Pygments==2.18.0
ninja==1.11.1.1
beautifulsoup4==4.12.3
more-itertools==10.5.0
nvidia-nccl-cu12==2.21.5
nvidia-cusparse-cu12==12.1.0.106
psutil==6.1.0
triton==3.1.0
MarkupSafe==3.0.2
nvidia-cusolver-cu12==11.4.5.107
ruamel.yaml.clib==0.2.8
stack-data==0.6.2
sortedcontainers==2.4.0
ruamel.yaml==0.18.6
conda_index==0.5.0
pycparser==2.22
Jinja2==3.1.4
pluggy==1.5.0
nvidia-nvtx-cu12==12.1.105
torchaudio==2.5.1+cu121
rpds-py==0.20.0
distro==1.9.0
mpmath==1.3.0
astunparse==1.6.3
fsspec==2024.10.0
torchvision==0.20.1+cu121
typing_extensions==4.12.2
ptyprocess==0.7.0
soupsieve==2.5
conda-build==24.9.0
PyYAML==6.0.2
chardet==5.2.0
nvidia-cufft-cu12==11.0.2.54
lief==0.14.1
libmambapy==1.5.10
tqdm==4.66.5
pytz==2024.2
conda-libmamba-solver==24.9.0
zstandard==0.23.0
jsonpatch==1.33
wheel==0.44.0
libarchive-c==5.1
frozendict==2.4.6
jsonpointer==3.0.0
pillow==10.2.0
pexpect==4.9.0
hyperframe==6.0.1
idna==3.10
Brotli==1.1.0
matplotlib-inline==0.1.7
jsonschema==4.23.0
importlib_resources==6.4.5
pip==24.2
torchelastic==0.2.2
conda_package_streaming==0.11.0
lintrunner==0.12.5
charset-normalizer==3.4.0
click==8.1.7
h2==4.1.0
expecttest==0.2.1
pycosat==0.6.6
networkx==3.4.2
parso==0.8.4
nvidia-nvjitlink-cu12==12.1.105
colorama==0.4.6
urllib3==2.2.3
pkginfo==1.11.2
pure_eval==0.2.3
nvidia-cudnn-cu12==9.1.0.70
torch==2.5.1+cu121
dnspython==2.7.0
nvidia-curand-cu12==10.3.2.106
sympy==1.13.1
PySocks==1.7.1
decorator==5.1.1
numpy==2.1.2
hypothesis==6.115.5
pkgutil_resolve_name==1.3.10
packaging==24.1
truststore==0.9.2
mamba==1.5.10
setuptools==72.1.0
jsonschema-specifications==2024.10.1
transformers==4.51.3
python-dateutil==2.9.0.post0
aiohttp==3.11.18
multidict==6.4.3
annotated-types==0.7.0
pyarrow==19.0.1
wandb==0.19.10
huggingface-hub==0.30.2
gitdb==4.0.12
pydantic_core==2.33.1
accelerate==1.6.0
aiohappyeyeballs==2.6.1
pandas==2.2.3
certifi==2025.1.31
dill==0.3.8
multiprocess==0.70.16
pydantic==2.11.3
xxhash==3.5.0
setproctitle==1.3.5
propcache==0.3.1
GitPython==3.1.44
frozenlist==1.6.0
tzdata==2025.2
protobuf==6.30.2
smmap==5.0.2
sentry-sdk==2.27.0
conda==24.11.3
tokenizers==0.21.1
regex==2024.11.6
aiosignal==1.3.2
docker-pycreds==0.4.0
yarl==1.20.0
safetensors==0.5.3
datasets==3.5.0
typing-inspection==0.4.0
zipp==3.19.2
importlib_metadata==8.0.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
backports.tarfile==1.2.0
ordered-set==4.1.0
autocommand==2.2.2
inflect==7.3.1
typeguard==4.3.0
more-itertools==10.3.0
typing_extensions==4.12.2
tomli==2.0.1
platformdirs==4.2.2
jaraco.text==3.12.1
wheel==0.43.0
importlib_resources==6.4.0
packaging==24.1
